@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    text-wrap: balance;
}

html,body{
    overflow-x: hidden;
}


::selection{
    color: white;
    background: #86efac;
}