@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    text-wrap: balance;
    scroll-behavior: smooth;
}

html,body{
    overflow-x: hidden;
}


::selection{
    color: white;
    background: #86efac;
}

.leaflet-div-icon{
    background: theme('colors.primary') !important;
    border: none !important;
    color: white !important;
    padding: 5px !important;
    min-width: 90px;
    min-height: 30px;
    text-align: center;
    border-radius: 32px;
  }