p {
  margin-top: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

.border-bottom {
  border-bottom: 3px solid #86efac;
  padding-bottom: 8px;
  width: fit-content;
  margin: auto;
}